// Importing variables from SCSS file
@import "./variables.scss";

body {
  background-color: #000000;
  opacity: 1;
  background-size: cover;
  animation: gradient-rotate 1s infinite; // Corrected typo in 'gradient-rotate'
  margin: auto;
  background-repeat: no-repeat;
  font-family: sans-serif;
  font-weight: bold;
}

img {
  width: 50%;
}

// Media query for tablet and mobile sizes
@media (max-width: 1024px) {
  body {
    min-width: 100vw;
  }
}
